* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #0f172a, #020617, #1e293b, #0ea5e9);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  color: white;
}

/* Animated BG */
@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* Glass Card */
.card {
  width: 400px;
  padding: 25px;
  border-radius: 18px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 60px rgba(0,0,0,0.7);
}

/* Search */
.search {
  display: flex;
  margin-top: 10px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #0f172a;
  color: white;
}

.search input:focus {
  outline: none;
  box-shadow: 0 0 10px cyan;
}

/* Button */
.btn {
  margin-left: 8px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, cyan, purple);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* Result */
.result {
  margin-top: 15px;
}

.temp {
  font-size: 40px;
}

.hidden {
  display: none;
}

/* Weather Effects */
body.rain::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("https://i.ibb.co/7QpKsCX/rain.gif");
  opacity: 0.2;

  pointer-events: none;
}


body.sun {
  box-shadow: inset 0 0 200px rgba(255,200,0,0.3);
}

body.cloud {
  box-shadow: inset 0 0 200px rgba(200,200,200,0.1);
}